**/.terraform/
**/.terraform.lock.hcl
.DS_Store
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!/test/tfvars/quickcache/quickcache.tfvars
.env
.idea*
.oca*
__pycache__/
/manifests/quickcache/quickcache-s3-secret.yaml
